@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;500;700&display=swap");

* {
  font-family: "Signika", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  background: linear-gradient(to bottom, rgb(25, 14, 68), rgb(58, 67, 164));
}

.endRectangle {
  position: fixed;
  display: flex;
  top: 0%;
  height: 0%;
  width: 100%;
  background: rgb(16, 12, 43);
  z-index: 3;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #aeaab9;
  font-size: 3vw;
  scale: 0;
}

.gameOver {
  opacity: 0%;
}

.bigTitle {
  top: auto;
  text-align: center;
  margin: auto;
  margin-top: 3%;
  color: #dddbe3;
  font-size: 6.5vw;
}

.secondTitle {
  text-align: center;
  margin: auto;
  color: #aeaab9;
  font-weight: 400;
  font-size: 2.8vw;
}

.boxesContainer {
  display: flex;
  margin: 3% 13%;
  gap: 3%;
}

.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: center;
  border-radius: 5vw;
  border: 0.5px solid rgb(32, 0, 120);
  background: linear-gradient(
    to bottom,
    rgb(162, 195, 227),
    rgb(111, 126, 223)
  );
  overflow: hidden;
}

.choices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0% 20%;
  text-align: center;
  font-size: 2vw;
  color: rgb(183, 197, 210);
}

.playerChoice {
  flex: 1;
}

.computerChoice {
  flex: 1;
}

.picContainer {
  flex: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.writing {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
  color: rgb(45, 34, 90);
  margin-bottom: 5%;
}

p {
  margin: 0;
}

.choice {
  font-size: 5.5vw;
}

.score {
  background: linear-gradient(
    to bottom right,
    rgb(162, 195, 227),
    rgb(111, 126, 223)
  );
  padding: 0.8%;
  border-radius: 1.1vw;
  margin: 1% auto;
  margin-top: 2%;
  font-size: 2.5vw;
}

.result {
  margin: auto;
  color: #dddbe3;
  font-size: 2.3vw;
}

.icon {
  font-size: 7vw;
}
@media screen and (max-width: 900px) {

*{
  border:1px solid red
}
  .boxesContainer {
    display: flex;
    margin: 3% 13%;
    padding: 2%;
    flex-direction: column;
  }

  .bigTitle{
    font-size: 11vw;
  }

  .score{
    font-size: 7vw;
  }

  .secondTitle{
    font-size:6vw;
  }

  .choices{
    font-size: 6vw;
  }

  .choice{
    font-size: 11vw;;
  }
  .box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2%;
    margin: 3%;
    align-items: center;
    border-radius: 40px;
    border: 0.5px solid rgb(32, 0, 120);
    background: linear-gradient(
      to bottom,
      rgb(162, 195, 227),
      rgb(111, 126, 223)
    );
  }

  .boxesContainer {
    display: flex;
    flex-direction: column;
width:70%;
    gap: 5%;
    margin: auto
  }

  .box {
    margin: 4%;
    padding: 4%;
  }

  .icon {
    
    font-size: 17vw;
  }

  .writing {
    font-size: 4vw;
  }
}
